accelerate==1.7.0
# gin_config==0.5.0
einops==0.8.0
numpy==2.2.6
pandas==2.2.3
polars==1.9.0
sentence_transformers==3.3.1
tlparse==0.3.44
torch==2.7.0
torchvision>=0.20.1
torch_geometric==2.6.1
triton==3.0.0
tqdm==4.67.1
wandb==0.19.11
